<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		
		<!--Configuracion del servicio Windows en minutos-->
		<add key="IntervalTime" value="1"/>
		<!--Hora de ejecucion HH:mm-->
		<add key="ExecutionTime" value="23:25"/>
		
		<!--Parametros para Conexion a Base de datos-->
		<add key="ConnectionStrings_DB_API_Database" value="BD_API"/>
		<add key="ConnectionStrings_DB_API_Password" value="4ED2CF1D78AEF9"/>
		<add key="ConnectionStrings_DB_API_Server" value="DEVSSD16"/>
		<add key="ConnectionStrings_DB_API_Timeout" value="60"/>
		<add key="ConnectionStrings_DB_API_User" value="UsrBD_API"/>
		<add key="ConnectionStrings_DB_API_Name" value="WEBA_BCP_Qr"/>

		<!--Parametro para el Archivo Log-->
		<add key="Path_Log_File" value="D:/BCB_Logs/EnviaReferenciasPersonalesAPi"/>
		<add key="Log_Level" value="ALL"/>
		
	</appSettings>
	
</configuration>