<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		
		<!--Configuracion del servicio Windows en minutos-->
		<add key="IntervalTime" value="1"/>
		<!--Hora de ejecucion HH:mm-->
		<add key="ExecutionTime" value="23:25"/>
		
		<!--Parametros para Conexion a Base de datos-->
		<add key="ConnectionStrings_DB_API_Database" value="BD_API"/>
		<add key="ConnectionStrings_DB_API_Password" value="4ED2CF1D78AEF9"/>
		<add key="ConnectionStrings_DB_API_Server" value="DEVSSD16"/>
		<add key="ConnectionStrings_DB_API_Timeout" value="60"/>
		<add key="ConnectionStrings_DB_API_User" value="UsrBD_API"/>
		<add key="ConnectionStrings_DB_API_Name" value="WEBA_BCP_Qr"/>

		<!--Security-->
		<add key="Security_Url" value="http://172.31.164.244/WebApiBusinessSecurity/api/V1/Security" />
		<add key="Security_User_Name" value="WEBAPI_SECURITY" />
		<add key="Security_Password" value="855280505c4fca85e1b0fc1c62541576" />
		<add key="Security_PublicToken" value="53A8D5CB-9E13-4400-9F28-AB99E9BB5BFE" />
		<add key="Security_IsLocal" value="true" />
		<add key="Security_SegCryptName" value="SegCryptSoli.dll" />
		<add key="Security_AppUserId" value="2" />

		<!--Parametro para el Archivo Log-->
		<add key="Path_Log_File" value="D:/BCB_Logs/EnviaReferenciasPersonalesApi.txt"/>
		<add key="Log_Level" value="ALL"/>
		
	</appSettings>
	
</configuration>